2.1 - Series

In [2]:
pip install pandas # google has pandas installed by default but use this for other IDEs

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [3]:
import pandas as pd

In [12]:
#normal list
a = [2, 5, 6, 3, 1, 5, 3, 6, 7, 8]
a

[2, 5, 6, 3, 1, 5, 3, 6, 7, 8]

In [11]:
#turn list into series
sA = pd.Series(a)
sA

0    2
1    5
2    6
3    3
4    1
5    5
6    3
7    6
8    7
9    8
dtype: int64

In [10]:
type(sA)

pandas.core.series.Series

In [14]:
#add a name to series
sA = pd.Series(a, name="numbers")
sA

0    2
1    5
2    6
3    3
4    1
5    5
6    3
7    6
8    7
9    8
Name: numbers, dtype: int64

In [16]:
#can adjust the indices too
sA = pd.Series(a, name = "numbers", index = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"])
sA

a    2
b    5
c    6
d    3
e    1
f    5
g    3
h    6
i    7
j    8
Name: numbers, dtype: int64

In [17]:
dic = {"Name": "Vlad", "Score": 88}

In [19]:
Sdic = pd.Series(dic, name="Info")
Sdic

Name     Vlad
Score      88
Name: Info, dtype: object

In [21]:
sA.max()

8

In [22]:
sA.min()

1

In [23]:
sA.sort_values()

e    1
a    2
g    3
d    3
f    5
b    5
c    6
h    6
i    7
j    8
Name: numbers, dtype: int64

In [26]:
#descending sort
sA.sort_values(ascending=False)

j    8
i    7
c    6
h    6
f    5
b    5
g    3
d    3
a    2
e    1
Name: numbers, dtype: int64

In [28]:
#above just displays a sorted version, does not modify the series, the following will do so:
sA.sort_values(ascending=False, inplace=True)
sA

j    8
i    7
c    6
h    6
f    5
b    5
g    3
d    3
a    2
e    1
Name: numbers, dtype: int64

In [31]:
sA[0]

8

/tmp/ipython-input-3334945478.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(sA[0])

In [33]:
sA[:1]

j    8
Name: numbers, dtype: int64

In [40]:
sA.iloc[:3] # == iloc[0:3]

j    8
i    7
c    6
Name: numbers, dtype: int64

In [44]:
sA.loc["j"] # just loc, no i when using labels rather than indices

np.int64(8)

In [46]:
s = pd.Series([10, 5, 0, 8])
s

0    10
1     5
2     0
3     8
dtype: int64

In [47]:
bad = s < 3 # going to check all items in series by default
bad

0    False
1    False
2     True
3    False
dtype: bool

In [52]:
bad.any()

np.True_

In [51]:
bad.all()

np.False_

In [54]:
if bad.any():
  print("because there is at least one bad element")

because there is at least one bad element

2.2 - DataFrames

In [56]:
#load data from a github source
file_name = "https://raw.githubusercontent.com/rajeevratan84/datascienceforbusiness/master/titanic.csv"
dfTitanic = pd.read_csv(file_name)

In [57]:
dfTitanic

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
0,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,1
1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,1
2,1,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,0
3,1,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,0
4,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,0
...,...,...,...,...,...,...,...,...,...,...,...
1304,3,"Zabour, Miss. Hileni",female,14.5000,1,0,2665,14.4542,NaN,C,0
1305,3,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,0
1306,3,"Zakarian, Mr. Mapriededer",male,26.5000,0,0,2656,7.2250,NaN,C,0
1307,3,"Zakarian, Mr. Ortin",male,27.0000,0,0,2670,7.2250,NaN,C,0
1308,3,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.8750,NaN,S,0

In [58]:
dfTitanic.head()

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
0,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,1
1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,1
2,1,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,0
3,1,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,0
4,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,0

In [62]:
#Save to a csv
dfTitanic.to_csv("myDataFrame2.csv")

In [61]:
#Save to excel
dfTitanic.to_excel("MyDataFrame2.xlsx")

In [66]:
a = {'http_status': [200, 200, 404, 404, 301], 'response_time': [.04, .02, .07, .08, 1.00]}

In [68]:
dfa = pd.DataFrame(a)
dfa

   http_status  response_time
0          200           0.04
1          200           0.02
2          404           0.07
3          404           0.08
4          301           1.00

In [69]:
dfTitanic.describe() #gives descriptive statistics for numeric columns (although not all are quantitative)

,pclass,age,sibsp,parch,fare,survived
count,1309.000000,1046.000000,1309.000000,1309.000000,1308.000000,1309.000000
mean,2.294882,29.881135,0.498854,0.385027,33.295479,0.381971
std,0.837836,14.413500,1.041658,0.865560,51.758668,0.486055
min,1.000000,0.166700,0.000000,0.000000,0.000000,0.000000
25%,2.000000,21.000000,0.000000,0.000000,7.895800,0.000000
50%,3.000000,28.000000,0.000000,0.000000,14.454200,0.000000
75%,3.000000,39.000000,1.000000,0.000000,31.275000,1.000000
max,3.000000,80.000000,8.000000,9.000000,512.329200,1.000000

In [70]:
dfTitanic.info() # "object = string

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pclass    1309 non-null   int64
 1   name      1309 non-null   object
 2   sex       1309 non-null   object
 3   age       1046 non-null   float64
 4   sibsp     1309 non-null   int64
 5   parch     1309 non-null   int64
 6   ticket    1309 non-null   object
 7   fare      1308 non-null   float64
 8   cabin     295 non-null    object
 9   embarked  1307 non-null   object
 10  survived  1309 non-null   int64
dtypes: float64(2), int64(4), object(5)
memory usage: 112.6+ KB

In [72]:
dfTitanic.columns

Index(['pclass', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket', 'fare',
       'cabin', 'embarked', 'survived'],
      dtype='object')

In [74]:
dfTitanic.dtypes

pclass        int64
name         object
sex          object
age         float64
sibsp         int64
parch         int64
ticket       object
fare        float64
cabin        object
embarked     object
survived      int64
dtype: object

In [77]:
dfTitanic[['name', 'age']] # view certain fields

                                                 name      age
0                       Allen, Miss. Elisabeth Walton  29.0000
1                      Allison, Master. Hudson Trevor   0.9167
2                        Allison, Miss. Helen Loraine   2.0000
3                Allison, Mr. Hudson Joshua Creighton  30.0000
4     Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  25.0000
...                                               ...      ...
1304                             Zabour, Miss. Hileni  14.5000
1305                            Zabour, Miss. Thamine      NaN
1306                        Zakarian, Mr. Mapriededer  26.5000
1307                              Zakarian, Mr. Ortin  27.0000
1308                               Zimmerman, Mr. Leo  29.0000

[1309 rows x 2 columns]

In [85]:
dfTitanic.loc[1, "name"] # find certain cell

'Allison, Master. Hudson Trevor'

In [83]:
names = dfTitanic.loc[:,"name"] # recall that loc uses labels, but if no specific labels, indices still work
names

0                         Allen, Miss. Elisabeth Walton
1                        Allison, Master. Hudson Trevor
2                          Allison, Miss. Helen Loraine
3                  Allison, Mr. Hudson Joshua Creighton
4       Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
                             ...
1304                               Zabour, Miss. Hileni
1305                              Zabour, Miss. Thamine
1306                          Zakarian, Mr. Mapriededer
1307                                Zakarian, Mr. Ortin
1308                                 Zimmerman, Mr. Leo
Name: name, Length: 1309, dtype: object

In [86]:
names.head()

0                      Allen, Miss. Elisabeth Walton
1                     Allison, Master. Hudson Trevor
2                       Allison, Miss. Helen Loraine
3               Allison, Mr. Hudson Joshua Creighton
4    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
Name: name, dtype: object

In [87]:
dfTitanic.loc[0, :] # call specific record

pclass                                  1
name        Allen, Miss. Elisabeth Walton
sex                                female
age                                  29.0
sibsp                                   0
parch                                   0
ticket                              24160
fare                             211.3375
cabin                                  B5
embarked                                S
survived                                1
Name: 0, dtype: object

In [89]:
dfTitanic.iloc[0, 1] #specific cell (r0c0)

'Allen, Miss. Elisabeth Walton'

In [93]:
dfTitanic.loc[:,["name", "sex"]]

                                                 name     sex
0                       Allen, Miss. Elisabeth Walton  female
1                      Allison, Master. Hudson Trevor    male
2                        Allison, Miss. Helen Loraine  female
3                Allison, Mr. Hudson Joshua Creighton    male
4     Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female
...                                               ...     ...
1304                             Zabour, Miss. Hileni  female
1305                            Zabour, Miss. Thamine  female
1306                        Zakarian, Mr. Mapriededer    male
1307                              Zakarian, Mr. Ortin    male
1308                               Zimmerman, Mr. Leo    male

[1309 rows x 2 columns]

In [96]:
dfTitanic[["name", "sex"]]

                                                 name     sex
0                       Allen, Miss. Elisabeth Walton  female
1                      Allison, Master. Hudson Trevor    male
2                        Allison, Miss. Helen Loraine  female
3                Allison, Mr. Hudson Joshua Creighton    male
4     Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female
...                                               ...     ...
1304                             Zabour, Miss. Hileni  female
1305                            Zabour, Miss. Thamine  female
1306                        Zakarian, Mr. Mapriededer    male
1307                              Zakarian, Mr. Ortin    male
1308                               Zimmerman, Mr. Leo    male

[1309 rows x 2 columns]

In [94]:
dfSimple = pd.DataFrame({'a': [1,2,3,4,5], 'b': [5,15,10,20,15]})
dfSimple

   a   b
0  1   5
1  2  15
2  3  10
3  4  20
4  5  15

In [97]:
a = dfSimple['a']
a

0    1
1    2
2    3
3    4
4    5
Name: a, dtype: int64

In [98]:
b = dfSimple['b']
b

0     5
1    15
2    10
3    20
4    15
Name: b, dtype: int64

In [99]:
c = a+b
c

0     6
1    17
2    13
3    24
4    20
dtype: int64

Data Preprocessing Steps: Data Exploration (Desc. Stats, DataViz) -> Data Cleaning (Remove Dupes, Handle Missing Vals and Outliers) -> Data Transformation (Scaling, Encoding) -> Data Integration (Joining, Merging) -> Data Reduction (Dimensionality Reduction)

stats babey

measures of central tendency

-mean good for quantitative data

-median good for same data types as mean, but better for summarizing data when outliers exist

-mode good on numerical or categorical


skewness

-right skew (higher on left) - mean > median > mode - positive outliers

-left skew (long tail on left) - mean < median < mode - negative outliers

measures of spread/dispersion

-range (max - min) - does not accoutn for outliers

-variance - how far is sum of squared distances from each point to the mean

-standard deviation - more informative due to being on similar scale to the data you're working with

measures of [how similar things are to each other]

-covariance - how do changes in one variable affect the other (only sign is meaningful)

-correlation - normalizes covariance to glean effective information

In [100]:
dfTitanic.head()

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
0,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,1
1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,1
2,1,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,0
3,1,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,0
4,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,0

In [103]:
cond1 = dfTitanic['pclass'] == 1 # returns a boolean series/df

In [105]:
dfTitanic[cond1] # filtered table displays only the records where condition 1 is true

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
0,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,1
1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,1
2,1,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,0
3,1,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,0
4,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,0
...,...,...,...,...,...,...,...,...,...,...,...
318,1,"Williams-Lambert, Mr. Fletcher Fellows",male,NaN,0,0,113510,35.0000,C128,S,0
319,1,"Wilson, Miss. Helen Alice",female,31.0000,0,0,16966,134.5000,E39 E41,C,1
320,1,"Woolner, Mr. Hugh",male,NaN,0,0,19947,35.5000,C52,S,1
321,1,"Wright, Mr. George",male,62.0000,0,0,113807,26.5500,NaN,S,0
322,1,"Young, Miss. Marie Grice",female,36.0000,0,0,PC 17760,135.6333,C32,C,1

In [106]:
cond2 = dfTitanic['age'] > 70
cond2

0       False
1       False
2       False
3       False
4       False
        ...
1304    False
1305    False
1306    False
1307    False
1308    False
Name: age, Length: 1309, dtype: bool

In [107]:
dfTitanic[cond2]

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
9,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C,0
14,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,27042,30.0000,A23,S,1
61,1,"Cavendish, Mrs. Tyrell William (Julia Florence...",female,76.0,1,0,19877,78.8500,C46,S,1
135,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C,0
727,3,"Connors, Mr. Patrick",male,70.5,0,0,370369,7.7500,NaN,Q,0
1235,3,"Svensson, Mr. Johan",male,74.0,0,0,347060,7.7750,NaN,S,0

In [108]:
dfTitanic.isnull() # find empty cells

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
1304,False,False,False,False,False,False,False,False,True,False,False
1305,False,False,False,True,False,False,False,False,True,False,False
1306,False,False,False,False,False,False,False,False,True,False,False
1307,False,False,False,False,False,False,False,False,True,False,False
1308,False,False,False,False,False,False,False,False,True,False,False

In [109]:
dfTitanic['cabin'].isnull() # find empties in specific field

0       False
1       False
2       False
3       False
4       False
        ...
1304     True
1305     True
1306     True
1307     True
1308     True
Name: cabin, Length: 1309, dtype: bool

In [110]:
dfTitanic['cabin'].notnull() # finds non empty

0        True
1        True
2        True
3        True
4        True
        ...
1304    False
1305    False
1306    False
1307    False
1308    False
Name: cabin, Length: 1309, dtype: bool

In [112]:
over_60 = dfTitanic['age'] > 60
cabin_exists = dfTitanic['cabin'].notnull()

In [117]:
#combining booleans - AND and OR not useable with dataframes, & replaces AND, +/| replaces OR
over_60_and_cabin_exists = over_60 & cabin_exists
over_60_and_cabin_exists

0        True
1        True
2        True
3        True
4        True
        ...
1304    False
1305    False
1306    False
1307    False
1308    False
Length: 1309, dtype: bool

In [ ]:
over_60_or_cabin_exists = over_60 + cabin_exists
over_60_or_cabin_exists

In [118]:
over_60_and_under_5 = dfTitanic['age'] > 60 | dfTitanic['age'] < 5

TypeError: Cannot perform 'ror_' with a dtyped [float64] array and scalar of type [bool]